body{
    background-color: greenyellow;
    text-align: center;
}

.cont{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    color: red;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    background-color: black;
}

#rst-btn{
    padding: 1rem;
    font-size: 1.15rem;
    background-color: black;
    color: whitesmoke ;
    border-radius: 1rem;
    
}


#new-btn{
     padding: 1rem;
    font-size: 1.rem;
    background-color: black;
    color: whitesmoke ;
    border-radius: 1rem;
}

#msg{
    color: palevioletred;
    font-size: 5vmin ;
}

.msg-container {
    height: 35vmin;
}

.hide{
    display: none;
}